{% extends '@BLOG/layout.html.twig' %}

{% block title %} {{ parent() }} - Catégories {% endblock %}



{% block h1 %}
    <h1>Categories</h1>
{% endblock %}

{% block Category %}






    <div class="form">
        {{ form_start(form) }}

        <p>
            {{ form_label(form.categories, "Titre de l'article") }}
            {{ form_errors(form.categories) }}
            {{ form_widget(form.categories) }}
            {#{{ form_row(form.categories) }}#}
        </p>
        <input type="submit" value="Chercher les articles correspondant"/>
        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block container %}
    <div class="container container-categ">
        {% block row %}
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 article-custom">
                        {% for image in article.image %}
                            {% if loop.first %}
                                <img src="{{ asset('bundles/images/'~image.src)}}" class="img-thu"/>
                            {% endif %}
                        {% endfor %}
                        <div class="article-caption">
                            <h3>{{ article.title }}</h3>
                            <p>

                                {% for content in article.content %}
                                    {{ content.content }}
                                {% endfor %}
                            </p>
                            <a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">En savoir plus</button></a>
                            <i>Publié le {{ article.date.date|date('d/m/Y h:m:s') }} </i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{%block javascript %}{{ asset('bundles/js/style.js') }} {% endblock %}

