{% extends '@BLOG/layout.html.twig' %}

{% block title %} {{ parent() }} - Catégories {% endblock %}


{% block Category %}
	<div class="form-cat">
		{{ form_start(form_cat) }}
		
			{{ form_label(form_cat.categories) }}
			{{ form_widget(form_cat.categories) }}
			{{ form_errors(form_cat.categories) }}

        {{ form_end(form_cat) }}
	</div>
{% endblock %}

{% block container %}
    <div class="container container-categ">
        {% block row %}
            {%  for categories in categ %}
                <div class="row">
					<h1>{{ categories.category }}</h1>
                    {% for articles in categories.article %}
                        <div class="col-xs-12 col-sm-6 col-md-4 article-custom">
                            {% for image in articles.image %}
                                {% if loop.first %}
                                    <figure>
                                    <img src="{{ asset('bundles/images/'~image.src)}}" class="image"/>
                                    </figure>
                                {% endif %}
                            {% endfor %}
                            <div class="article-caption">
                                <h3>{{ articles.titleFr }}</h3>
                                <p>
                                    {% for content in articles.content %}
                                        {{ content.content }}
                                    {% endfor %}
                                </p>
                                <a href="{{ path('blog_article', {id : articles.id}) }}"><button class="btn btn-lg btn-danger">En savoir plus</button></a>
                                <i>Publié le {{ articles.date.date|date('d/m/Y h:m:s') }} </i>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}

{%block javascript %}{{ asset('bundles/js/style.js') }} {% endblock %}