{% extends '@BLOG/layout.html.twig' %}

{% block title %} {{ parent() }} - Catégories {% endblock %}


{% block Category %}






    <div class="form">
        {{ form_start(form) }}

        <p>
            {{ form_label(form.categories) }}
            {{ form_errors(form.categories) }}
            {{ form_widget(form, { 'attr': {'name': 'cat'} }) }}
            {#{{ form_row(form.categories) }}#}
        </p>

        {{ form_widget(form.chercher, { 'label': 'Click me' }) }}

        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}

{%block javascript %}{{ asset('bundles/js/style.js') }} {% endblock %}

