{% extends '@BLOG/layout.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block container %}
    <div class="container container-dates">
        {% block row %}
            <div class="row row-custom">
                <div class="col-md-12">
                    <h1> Recherche par date </h1>
                    {{ form_start(form, {attr: {'class':'form-date'}} ) }}
                        <label for="start">Articles publiés entre le : </label>
                        <input type="date" id="start" name="start" value="{{ start }}">

                        <label for="start"> et le : </label>
                        <input type="date" id="end" name="end" value="{{ end }}">
                        <input type="submit" class="btn btn-lg btn-danger"/>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 article-custom">
                        {% for image in article.image %}
                            {% if loop.first %}
                                <figure>
                                    <img src="{{ asset('bundles/images/'~image.src)}}" class="image"/>
                                </figure>
                            {% endif %}
                        {% endfor %}
                        <div class="article-caption">
                            <h3>{{ article.title }}</h3>
                            <p>
                                {% for content in article.content %}
                                    {{ content.content }}
                                {% endfor %}
                            </p>
                            <a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">En savoir plus</button></a>
                            <i>Publié le {{ article.date.date|date('d/m/Y') }} </i>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endblock %}
    </div>
{% endblock %}

{%block javascript %}{{ asset('bundles/js/style.js') }} {% endblock %}