{% extends 'BLOGBundle::layout.html.twig' %}

{% block section %}
    {%  if articles is defined %}
    <section>
        {% set breack = false %}
        {% if breack == false %}
            {% for article in articles %}
                {% if breack == false %}
                    {% for image in article.image %}
                        {% set size = imgsize(image.src) %}
                        {% if size.width >= size.height %}
                            {% set breack = true %}
                            <img src="{{ image.src | imagine_filter('xLarge') }}" alt="{{ article.titleFr }}"/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
				
            {% endfor %}
			    <figcaption class="picture-caption">
					{% if app.request.locale == 'fr' %}
						<h2> {{ articles|first.titleFr }} </h2>
						<a href="{{ path('blog_article', {id : articles|first.id}) }}"><button class="btn btn-custom btn-danger">En savoir plus</button></a>
						<i> Publié le {{ articles|first.date|date('d/m/Y') }} </i>
					{% else %}	
						<h2> {{ articles|first.titleEs }} </h2>
						<a href='{{ path('blog_article', {id : articles|first.id}) }}'><button class="btn btn-custom btn-danger">Saber más</button></a>
						<i> Publicado el {{ articles|first.date|date('d/m/Y') }} </i>
					{% endif %}	
                </figcaption>
        {% endif %}
    </section>
{% endif %}

{% endblock %}


{% block h1 %}
    <h1>DE CHEZ NOUS A CASINA</h1>
	{% if app.request.locale == 'fr' %}
		<p id="roadshow">Suivez nos publications à la carte</p>
	{% else %}
		<p id="roadshow">Siga nuestras publicaciones en el mapa</p>
	{% endif %}
{% endblock %}

{% block map %}
    <div class="container container-map">
        <div id="map"></div>
    </div>
{% endblock %}

{% block container %}
    <div class="container container-homepage">
	{% if app.request.locale == 'fr' %}
		<h1> Tous nos articles </h1>
	{% else %}	
		<h1> Todos nuestros artículos </h1>
	{% endif %}	
        {% block row %}
            <div class="row row-custom">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 article-custom">
                        {% for image in article.image %}
                            {% if loop.first %}
                                <figure>
                                    <img src="{{ image.src | imagine_filter('xLarge') }}" onerror="defaultPicture(this)" class="image"/>
                                </figure>
                            {% endif %}
                        {% endfor %}
                        <div class="article-caption">
							{% if app.request.locale == 'fr' %}
								<h3>{{ article.titleFr }}</h3>
								<p>
									 {{ article.content|first.content|slice(0,100) }}...
								</p>
								<a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">En savoir plus</button></a>
								<i>Publié le {{ article.date.date|date('d/m/Y') }} </i>
							{% else %}
								<h3>{{ article.titleEs }}</h3>
								<p>
									 {{ article.content|first.contentEs|slice(0,100) }}...
								</p>
								<a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">Saber más</button></a>
								<i>Publicado el {{ article.date.date|date('d/m/Y') }} </i>
							{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>

{% endblock %}
{% block javascript %} {{ asset('bundles/blog/js/style.js') }} {% endblock %}

{% block javascript_map %}
<script>
	function initMap() {
	    var lastLat = {{ articles|first.latitude }};
        var lastLng = {{ articles|first.longitude }};

        var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 5,
			center: new google.maps.LatLng(lastLat, lastLng),
		});
        {% for article in articles %}
			var lat = {{ article.latitude }};
			var lng = {{ article.longitude }};

			{% if app.request.locale == 'fr' %}
				var content =
					"<div><b> Titre de l'article </b> : {{ article.titleFr }} </div><br /> " +
					"<img src='{{ article.image|first.src | imagine_filter('xLarge') }}' onerror='defaultPicture(this)' style='width: 150px;' /><br />  " +
					" <br /> <div> <b> Publié le : </b> {{ article.date|date('d/m/Y') }} </div><br /> " +
					" <a href='{{ path('blog_article', {id : article.id}) }}'><button class='btn btn-primary'>En savoir plus</button></a>";
			{% else %}
				var content =
					"<div> <b> Título del artículo</b> : {{ article.titleEs }} </div><br /> " +
					"<img src='{{ article.image|first.src | imagine_filter('xLarge') }}' onerror='defaultPicture(this)' style='width: 150px;' /><br />  " +
					" <br /> <div> <b> Publicado el : </b> {{ article.date|date('d/m/Y') }} </div><br /> " +
					" <a href='{{ path('blog_article', {id : article.id}) }}'><button class='btn btn-primary'>Saber más</button></a>";
			{% endif %}

			marker = new google.maps.Marker({
				position: new google.maps.LatLng(lat, lng),
				map: map
			});
			infowindow = new google.maps.InfoWindow();

			(function (marker, content) {
				google.maps.event.addListener(marker, "click", function (e) {
					//Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
				});

				google.maps.event.addListener(map, 'click', function() {
					infoWindow.close();
				});
			})(marker, content);

    	{% endfor %}

        var flighPathCoordinates = [];

		{% for article in articles %}
			flighPathCoordinates.push(new google.maps.LatLng({{ article.latitude }}, {{ article.longitude }}));
		{% endfor %}

        var flightPath = new google.maps.Polyline({
            path: flighPathCoordinates,
            geodesic: true,
            strokeColor: 'blue',
            strokeOpacity: 1.0,
            strokeWeight: 3
        });

        flightPath.setMap(map);

        var myLatLng = {lat : 42.8805200, lng: -8.5456900};
        var destination = "<b>Point d'arrivée</b>";

		marker = new google.maps.Marker({
			position: new google.maps.LatLng(myLatLng.lat, myLatLng.lng),
			map: map
		});

		infowindow = new google.maps.InfoWindow();

		(function (marker, destination) {
			google.maps.event.addListener(marker, "click", function (e) {
				//Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
				infowindow.setContent(destination);
				infowindow.open(map, marker);
			});

			google.maps.event.addListener(map, 'click', function () {
				infoWindow.close();
			});
		})(marker, destination);
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqAxsUdv5X-X8KMdFU52DExF2QfL8LW8&callback=initMap">
</script>
{% endblock %}
