{% extends 'BLOGBundle::layout.html.twig' %}

{% block section %}
    {%  if articles is defined %}
    <section>
        {% set breack = false %}
        {% if breack == false %}
            {% for article in articles %}
                {% if breack == false %}
                    {% for image in article.image %}
                        {% set size = imgsize(image.src) %}
                        {% if size.width >= size.height %}
                            {% set breack = true %}
                            <img src="{{ asset('bundles/images/'~image.src)}}"/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
				
            {% endfor %}
			    <figcaption class="picture-caption">
					{% if app.request.locale == 'fr' %}
						<h2> {{ articles|first.titleFr }} </h2>
						<a href="{{ path('blog_article', {id : articles|first.id}) }}"><button class="btn btn-custom btn-danger">En savoir plus</button></a>
						<i> Publié le {{ articles|first.date|date('d/m/Y') }} </i>
					{% else %}	
						<h2> {{ articles|first.titleEs }} </h2>
						<a href='{{ path('blog_article', {id : articles|first.id}) }}'><button class="btn btn-custom btn-danger">Saber más</button></a>
						<i> Publicado el {{ articles|first.date|date('d/m/Y') }} </i>
					{% endif %}	
                </figcaption>
        {% endif %}
    </section>
{% endif %}

{% endblock %}


{% block h1 %}
    <h1>ROAD SHOW</h1>
	{% if app.request.locale == 'fr' %}
		<p id="roadshow">Suivez nos publications à la carte</p>
	{% else %}
		<p id="roadshow">Siga nuestras publicaciones en el mapa</p>
	{% endif %}
{% endblock %}

{% block map %}
    <div class="container container-map">
        <div id="map"></div>
    </div>
{% endblock %}

{% block container %}
    <div class="container container-homepage">
		<h1> Tous nos articles </h1>
        {% block row %}
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 article-custom">
                        {% for image in article.image %}
                            {% if loop.first %}
                                <figure>
                                    <img src="{{ asset('bundles/images/'~image.src)}}" class="image"/>
                                </figure>
                            {% endif %}
                        {% endfor %}
                        <div class="article-caption">
							{% if app.request.locale == 'fr' %}
								<h3>{{ article.titleFr }}</h3>
								<p>
									 {{ article.content|first.content|slice(0,100) }}...
								</p>
								<a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">En savoir plus</button></a>
								<i>Publié le {{ article.date.date|date('d/m/Y') }} </i>
							{% else %}
								<h3>{{ article.titleEs }}</h3>
								<p>
									 {{ article.content|first.contentEs|slice(0,100) }}...
								</p>
								<a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">Saber más</button></a>
								<i>Publicado el {{ article.date.date|date('d/m/Y') }} </i>
							{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>

{% endblock %}
{%block javascript_map %}
<script>
function initMap() {
		var uluru = [];
			
        {% for article in articles %}		  
			uluru.push([{{ article.latitude }}, {{ article.longitude }}] );
		{% endfor %}
		  
		var map = new google.maps.Map(document.getElementById('map'), {
		    zoom: 6,
			center: new google.maps.LatLng(uluru[0][0], uluru[0][1]),
	    });
		 
		contentString = [];
			{% for article in articles %}
				{% if app.request.locale == 'fr' %}
					contentString.push(
								 "<div><b> Titre de l'article </b> : {{ article.titleFr }} </div><br /> " +
								 "<img src='{{ asset('bundles/images/'~article.image|first.src) }}' style='width: 150px;' /><br />  " + 
								 " <br /> <div> <b> Publié le : </b> {{ article.date|date('d/m/Y') }} </div><br /> " +
								 " <a href='{{ path('blog_article', {id : article.id}) }}'><button class='btn btn-primary'>En savoir plus</button></a>");
				{% else %}
					contentString.push(
								 "<div> <b> Título del artículo</b> : {{ article.titleEs }} </div><br /> " +
								 "<img src='{{ asset('bundles/images/'~article.image|first.src) }}' style='width: 150px;' /><br />  " + 
								 " <br /> <div> <b> Publicado el : </b> {{ article.date|date('d/m/Y') }} </div><br /> " +
								 " <a href='{{ path('blog_article', {id : article.id}) }}'><button class='btn btn-primary'>Saber más</button></a>");	 
				{% endif %}	
 		{% endfor %}
		
		for (i=0; i < uluru.length; i++) { 
		
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(parseFloat(uluru[i][0]), parseFloat(uluru[i][1])),
				map: map
			});
			  
			infowindow = new google.maps.InfoWindow({
				content: contentString[i]
			});
		  
			google.maps.event.addListener(marker, 'click', (function(marker, i) {
				return function() {
				  infowindow.setContent(contentString[i]);
				  infowindow.open(map, marker);
				}
			})
			(marker, i));	
		}
 }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqAxsUdv5X-X8KMdFU52DExF2QfL8LW8&callback=initMap">
</script>
{% endblock %}



{%block javascript %}{{ asset('bundles/js/style.js') }} {% endblock %}

