{% extends 'BLOGBundle::layout.html.twig' %}

{% block section %}
    <section>
		{% for article in articles %}
			{% if loop.first %}
				{% for image in article.image %}
					{% if loop.first %}
						<img src="{{ asset('bundles/images/'~image.src)}}"/>
					{% endif %}
				{% endfor %}
				<figcaption class="picture-caption">
					<h2> {{ article.title }} </h2>
					<a href='{{ path('blog_article', {id : article.id}) }}'><button class="btn btn-custom btn-danger">En savoir plus</button></a>
					<i> Publié le {{ article.date.date|date('d/m/Y') }}</i>
				</figcaption>
			{% endif %}
		{% endfor %}
    </section>
{% endblock %}

{% block h1 %}
    <h1>ROAD SHOW</h1>
{% endblock %}

{% block container %}
    <div class="container container-homepage">
        {% block row %}
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 article-custom">
                        {% for image in article.image %}
                            {% if loop.first %}
                                <figure>
                                    <img src="{{ asset('bundles/images/'~image.src)}}" class="image"/>
                                </figure>
                            {% endif %}
                        {% endfor %}
                        <div class="article-caption">
                            <h3>{{ article.title }}</h3>
                            <p>
                                {% for content in article.content %}
                                    {{ content.content }}
                                {% endfor %}
                            </p>
                            <a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">En savoir plus</button></a>
                            <i>Publié le {{ article.date.date|date('d/m/Y') }} </i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{%block javascript %}{{ asset('bundles/js/style.js') }} {% endblock %}

