{% extends 'BLOGBundle::layout.html.twig' %}

{% block section %}
    {%  if articles is defined %}
    <section>
        {% set breack = false %}
        {% if breack == false %}
            {% for article in articles %}
                {% if breack == false %}
                    {% for image in article.image %}
                        {% set size = imgsize(image.src) %}
                        {% if size.width >= size.height %}
                            {% set breack = true %}
                            <img src="{{ asset('bundles/images/'~image.src)}}"/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
				
            {% endfor %}
			    <figcaption class="picture-caption">
					{% if app.request.locale == 'fr' %}
						<h2> {{ articles|first.titleFr }} </h2>
						<a href="{{ path('blog_article', {id : articles|first.id}) }}"><button class="btn btn-custom btn-danger">En savoir plus</button></a>
						<i> Publié le {{ articles|first.date|date('d/m/Y') }} </i>
					{% else %}	
						<h2> {{ articles|first.titleEs }} </h2>
						<a href='{{ path('blog_article', {id : articles|first.id}) }}'><button class="btn btn-custom btn-danger">Saber más</button></a>
						<i> Publicado el {{ articles|first.date|date('d/m/Y') }} </i>
					{% endif %}	
                </figcaption>
        {% endif %}
    </section>
{% endif %}

{% endblock %}

{% block h1 %}
    <h1>ROAD SHOW</h1>
{% endblock %}

{% block container %}
    <div class="container container-homepage">
        {% block row %}
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 article-custom">
                        {% for image in article.image %}
                            {% if loop.first %}
                                <figure>
                                    <img src="{{ asset('bundles/images/'~image.src)}}" class="image"/>
                                </figure>
                            {% endif %}
                        {% endfor %}
                        <div class="article-caption">
							{% if app.request.locale == 'fr' %}
								<h3>{{ article.titleFr }}</h3>
								<p>
									 {{ article.content|first.content|slice(0,100) }}...
								</p>
								<a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">En savoir plus</button></a>
								<i>Publié le {{ article.date.date|date('d/m/Y') }} </i>
							{% else %}
								<h3>{{ article.titleEs }}</h3>
								<p>
									 {{ article.content|first.contentEs|slice(0,100) }}...
								</p>
								<a href="{{ path('blog_article', {id : article.id}) }}"><button class="btn btn-lg btn-danger">Saber más</button></a>
								<i>Publicado el {{ article.date.date|date('d/m/Y') }} </i>
							{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{%block javascript %}{{ asset('bundles/js/style.js') }} {% endblock %}

