{% extends '@BLOG/layout.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
	<div class="container container-presentation">
		<div class="row">
			<div class="col-xs-12">
				{% if app.request.locale == 'fr' %}
					<h1>A propos de nous</h1>
					<img src="{{ presentation|first.image | imagine_filter('xLarge') }}" onerror="defaultPicture(this)" />
					<p>
						{{ presentation|first.presentation|nl2br }}
					</p>
				{% else %}
					<h1>Sobre nosotros</h1>
					<img src="{{ presentation|first.image | imagine_filter('xLarge') }}" onerror="defaultPicture(this)" />
					<p>
						{{ presentation|first.presentationEs|nl2br }}
					</p>
				{% endif %}	
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{% if app.request.locale == 'fr' %}	
					<h1> Remerciements </h1>
					<p>
						{{ presentation|first.contributors|nl2br }}
					</p>
				{% else %}	
					<h1> Agradecimentos </h1>
					<p>
						{{ presentation|first.contributorsEs|nl2br }}
					</p>
				{% endif %}	
			</div>
		</div>
	</div>
{% endblock %}