{% extends "layout.html.twig" %}

{% block style %} {{ asset('bundles/blog/css/style.css') }} {% endblock %}

{% block error %}
	{% block nav_error %}
		<header>
        <nav class="navbar navbar-inverse navbar-custom navbar-custom-1201">
            <div class="container-fluid container-fluid-custom">
                <a class="navbar-brand navbar-brand-custom" href="#"><img src="{{ asset('bundles/blog/images/mandala.png') }}" alt='logo'/></a>

                <ul class="nav navbar-nav plop-nav">
				{% if app.request.locale == 'fr' %}
                    <li><a href="{{ path('blog_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('blog_presentation') }}">Présentation du projet</a></li>
                    <li><a href="{{ path('blog_category_specifique') }}">Catégories</a></li>
                    <li><a href="{{ path('blog_articles_by_date') }}">Articles par date</a></li>
                    <li><a href="{{ path('blog_contact') }}">Contact</a></li>
				{% else %}
					<li><a href="{{ path('blog_homepage') }}">Inicio</a></li>
                    <li><a href="{{ path('blog_presentation') }}">Presentación del proyecto</a></li>
                    <li><a href="{{ path('blog_category_specifique') }}">Categorías</a></li>
                    <li><a href="{{ path('blog_articles_by_date') }}">Artículos por fecha</a></li>
                    <li><a href="{{ path('blog_contact') }}">Contacto</a></li>
                {% endif %}
				</ul>
            </div>
        </nav>

        <nav class="navbar navbar-custom navbar-custom-1200">
            <div class="container-fluid container-fluid-custom">

                <a class="navbar-brand navbar-brand-custom" href="{{ path('blog_homepage') }}"><img src="{{ asset('bundles/blog/images/mandala.png') }}" alt='logo'/></a>

                <div class="dropdown dropdown-custom">
                    <button class="btn btn-lg btn-hamburger-custom dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        {% if app.request.locale == 'fr' %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_homepage') }}">Accueil</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_presentation') }}">Présentation du projet</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_category_specifique') }}">Catégories</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_articles_by_date') }}">Articles par date</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_contact') }}">Contact</a></li>
                        {% else %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_homepage') }}">Inicio</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_presentation') }}">Presentación del proyecto</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_category_specifique') }}">Categorías</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_articles_by_date') }}">Artículos por fecha</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_contact') }}">Contacto</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

	<h1 style="margin-top: 100px;">Oops! Une erreur a eu lieu</h1>
	<img src="{{ asset('bundles/blog/errors/animal.jpg') }}" height="300" style="margin: auto; display: block"/>
	<div style="text-align: center; font-size: 2em; margin: 0 auto; margin-top: 20px; width: 80%;">
		Quelque chose est cassé. Veuillez nous dire ce que vous faisiez au moment où l'erreur est survenue.
		Nous réglerons le problème dès possible.
		Cliquez ici pour retourner au site : <a href="{{ path('blog_homepage') }}">Cliquer</a>
	</div>
	
{% endblock %}
