<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/form.css') }}"/>
</head>
<body>
{% block body %}
    <h1>Modifier l'article</h1>

    {{ form_start(edit_form) }}

        <p>{{ form_label(edit_form.title, 'Titre') }}
            {{ form_errors(edit_form.title) }}
            {{ form_widget(edit_form.title) }}
        </p>

        <p>
            {{ form_label(edit_form.content, 'Contenu') }}
            {{ form_errors(edit_form.content) }}
            {{ form_widget(edit_form.content) }}
        </p>


        {{ form_label(edit_form.date, 'Date') }}
        {{ form_errors(edit_form.date) }}
        {{ form_widget(edit_form.date) }}


        <p>
            {{ form_label(edit_form.author, 'Auteur') }}
            {{ form_errors(edit_form.author) }}
            {{ form_widget(edit_form.author) }}
        </p>

        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

</body>

</html>