{% block body %}
    <h1>Article creation</h1>

    {{ form_start(form) }}
	<p>
        {{ form_label(form.title, 'Titre') }}
		{{ form_errors(form.title) }}
		{{ form_widget(form.title) }}
	</p>
	<p>
		{{ form_label(form.content, 'Contenu') }}
		{{ form_errors(form.content) }}
		{{ form_widget(form.content) }}
	</p>
	<p>
		<h1> Catégories </h1
		<span><b>Ne remplir que si nécessaire : la catégorie existe-t-elle déjà? </b></span>
		
		{% for category in form.category %}
		<p>
            {{ form_label(category.category) }}
            {{ form_errors(category.category) }}
            {{ form_widget(category.category) }}
		</p>
		
			
        {% endfor %}
		
	</p>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
