<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/style.css') }}"/>
    <meta charset="utf-8"/>
</head>

<body>

{% block nav %}
{% endblock %}

{% block section %}
{% endblock %}

{% block h1 %}
{% endblock %}

<div class="container container-custom">

    {% block row %}
    {% endblock %}

</div>

{% block footer %}
{% endblock %}

<script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/js/style.js') }}"></script>
</body>
</html>
