{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Image</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Src</th>
                <td>{{ image.src }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ image.alt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('image_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('image_edit', { 'id': image.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
