<!doctype html>
<html>
<head>
    <title> Bienvenu sur mon {% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/style.css') }}"/>
    <meta charset="utf-8"/>
</head>

<body>
    <header>
    <nav class="navbar navbar-inverse navbar-custom navbar-custom-1201">
        <div class="container-fluid container-fluid-custom">

            <a class="navbar-brand navbar-brand-custom" href="#"><img src="{{ asset('bundles/images/mandala.png') }}" alt='logo'/></a>

            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Présentation du projet</a></li>
                <li><a href="#">Remerciements</a></li>
                <li><a href="#">Catégories</a></li>
                <li><a href="#">Articles par date</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-custom navbar-custom-1200">
        <div class="container-fluid container-fluid-custom">

            <a class="navbar-brand navbar-brand-custom" href="#"><img src="{{ asset('bundles/images/mandala.png') }}" alt='logo'/></a>

            <div class="dropdown dropdown-custom">
                <button class="btn btn-lg btn-hamburger-custom dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Accueil</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Présentation du projet</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remerciements</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Catégories</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Articles par date</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </header>


    <section>
        <img src="{% block image %}{% endblock %}"/>
        <figcaption class="picture-caption">
            <h2>{% block h1 %}{% endblock %}</h2>
            <a href='#'><button class="btn btn-custom btn-danger">En savoir plus</button></a>
            <i> Publié le {% block i %}{% endblock %}</i>
        </figcaption>
    </section>

    <h1>ROAD SHOW</h1>
    <div class="container container-custom">

         {% block row %}
         {% endblock %}

    </div>
    <div class="container newsletter">
        <div class="row">
            <div class="span12">
                <div class="thumbnail center well well-small text-center">
                    <p>Newsletter</p>
                    <p>Souscrivez à notre Newsletter.</p>
                    <form action="" method="post">
                        <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                            <input type="text" id="newsletter" name="" placeholder="votre email@.com">
                        </div>
                        <br />
                        <input type="submit" value="Je souscris!" class="btn btn-sm btn-danger btn-custom" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        Tous droit réservés
    </footer>

    <script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/js/style.js') }}"></script>
</body>
</html>
