{% extends 'layout.html.twig' %}

{% block style %} {{ asset('bundles/css/style.css') }} {% endblock %}

{% block title %} Le blog de Pierre & Raquel {% endblock %}
{% block onload %} onload="load()" {% endblock %}
{% block nav %}
    <header>
        <nav class="navbar navbar-inverse navbar-custom navbar-custom-1201">
            <div class="container-fluid container-fluid-custom">

                <a class="navbar-brand navbar-brand-custom" href="#"><img src="{{ asset('bundles/images/mandala.png') }}" alt='logo'/></a>

                <ul class="nav navbar-nav">
                    <li><a href="{{ path('blog_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('blog_presentation') }}">Présentation du projet</a></li>
                    <li><a href="{{ path('blog_category') }}">Catégories</a></li>
                    <li><a href="{{ path('blog_articles_by_date') }}">Articles par date</a></li>
                    <li><a href="{{ path('blog_contact') }}">Contact</a></li>
                    <li>{{ render(controller("BLOGBundle:User:newsLetter") )}}</li>
                </ul>
				<ul id="li-last-child">
					<a href="#"><img src="{{ asset('bundles/images/flagFr.png') }}" alt="France" /></a>
					<a href="#"><img src="{{ asset('bundles/images/flagEs.png') }}" alt="Espagne" /></a>
				</ul>
            </div>
        </nav>

        <nav class="navbar navbar-custom navbar-custom-1200">
            <div class="container-fluid container-fluid-custom">

                <a class="navbar-brand navbar-brand-custom" href="{{ path('blog_homepage') }}"><img src="{{ asset('bundles/images/mandala.png') }}" alt='logo'/></a>

                <div class="dropdown dropdown-custom">
                    <button class="btn btn-lg btn-hamburger-custom dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_homepage') }}">Accueil</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_presentation') }}">Présentation du projet</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_category') }}">Catégories</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_articles_by_date') }}">Articles par date</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('blog_contact') }}">Contact</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1">{{ render(controller("BLOGBundle:User:newsLetter") )}}</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block footer %}
    <footer>
        Tous droit réservés
    </footer>
{% endblock %}

