{% extends 'layout.html.twig' %}

{% block style %} {{ asset('bundles/css/form.css') }} {% endblock %}

{% block title %}Administration{% endblock%}

{% block form %}
<div class="form">
    {{ form_start(form) }}
	<input type="submit" value="Valider la création"/>
    <p>
        {{ form_label(form.title, "Titre de l'article") }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
	</p>
	<p>
        {{ form_label(form.date, "Date") }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
    </p>
	
	{% if keyword !=null %} 
	<div id='categoryList'>
		<label for="content" > Catégories existantes </label>
		<select name='category[]' id='content' multiple="true">
				<option value="" selected> Choisir une catégorie </option>
			{% for key in keyword %}
				<option value='{{ key.category }}'/>{{ key.category }}</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

	<div id='buttonRange'>
		<button class='picture'>Nouvelle image</button>
		<button class='text'>Nouveau texte</button>
		<button class='category'>Nouvelle catégorie</button>
	</div>
	
	{{ dump(keyword) }}
	


	{{ form_end(form) }}

</div>
{% endblock %}

{% block javascript %}{{ asset('bundles/js/form.js') }}{% endblock %}