{% extends 'layout.html.twig' %}

{% block style %} {{ asset('bundles/css/admin.css') }} {% endblock %}
{% block title %}Administration{% endblock%}

{% block form %}
	<div class="menu menu-add">
		<a href="{{ path('admin_index') }}"><button class="btn btn-large btn-danger"> Accueil </button></a>
		<a href=""><button class="btn btn-large btn-danger"> Déconnexion </button></a>
	</div>
<div class="form">

    {{ form_start(form,{'attr': {'enctype': 'multipart/form-data'}}) }}
    <p>
        {{ form_label(form.title, "Titre de l'article", {'label_attr' : {class:"label-titre" }} ) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
	</p>
	
	{% if keyword !=null %} 
	<div id='categoryList'>
		<label for="content" class="label-category"> Catégories existantes </label>
		<select name='category[]' id='content' multiple="true">
				<option value="" selected> Choisir une catégorie </option>
			{% for key in keyword %}
				<option value='{{ key.category }}'/>{{ key.category }}</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

	<div id='buttonRange'>
		<button class='picture btn btn-large btn-danger'>Nouvelle image</button>
		<button class='text btn btn-large btn-danger'>Nouveau texte</button>
		<button class='category btn btn-large btn-danger'>Nouvelle catégorie</button>
	</div>

    <label for="submit" id="label-submit"> Publier l'article </label>
    <input type="submit" id="submit" class="btn btn-large btn-danger" value="Valider la création"/>

	{{ form_end(form) }}

</div>
{% endblock %}

{% block javascript %}{{ asset('bundles/js/form.js') }}{% endblock %}