{% extends 'layout.html.twig' %}

{% block style %} {{ asset('bundles/css/form.css') }} {% endblock %}

{% block title %}Administration{% endblock%}

{% block form %}
<div class="form">
    {{ form_start(form) }}
    <p>
        {{ form_label(form.title, 'Titre') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
	</p>
	<p>
        {{ form_label(form.date, 'Date') }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
    </p>
	
	<h2> Catégories </h2>
	 
	{% if keyword !=null %} 
		<select name='content[]'>
			{% for key in keyword %}
				<option value='{{ key.category }}'/>{{ key.category }}</option>
			{% endfor %}
		</select>
	{% endif %}

	<div id='buttonRange'>
		<button class='text'>Nouveau texte</button>
		<button class='picture'>Nouvelle image</button>
		<button class='category'>Nouveau mot-clef</button>
		<input type='submit'/>
	</div>

	{{ form_end(form) }}
	
	{% for req in request %}
	{{ req}}
	{% endfor %}

</div>
{% endblock %}

{% block javascript %}{{ asset('bundles/js/form.js') }}{% endblock %}