{% extends 'layout.html.twig' %}

{% block style %} {{ asset('bundles/blog/css/admin.css') }} {% endblock %}
{% block title %}Administration{% endblock%}

{% block form %}
    <div class="menu menu-add">
        <a href="{{ path('admin_index') }}"><button class="btn btn-lg btn-danger"> Accueil administration</button></a>
		<a href="{{ path('blog_homepage') }}"><button class="btn btn-lg btn-danger">Blog</button></a>
        <a href="{{ path('blog_homepage_admin') }}logout"><button class="btn btn-lg btn-danger"> Déconnexion </button></a>
    </div>
	
	{% for flashes in app.session.flashbag.all %}
		{% for flash in flashes %}
			<div id="alert-message">
				<p>
					{{ (flash) }}
				</p>	
			</div>	
		{% endfor %}
	{% endfor %}
		
    <div class="form">
    {{ form_start(edit_form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <p>
            {{ form_label(edit_form.titleFr, "Titre de l'article en français", {'label_attr' : {class:"label-titre" }} ) }}
            {{ form_errors(edit_form.titleFr) }}
            {{ form_widget(edit_form.titleFr) }}
        </p>
		 <p>
            {{ form_label(edit_form.titleEs, "Titre de l'article en espagnol", {'label_attr' : {class:"label-titre" }} ) }}
            {{ form_errors(edit_form.titleEs) }}
            {{ form_widget(edit_form.titleEs) }}
        </p>
	
		<div class="content-block">
			{% for image in article.image %}
				{% for content in article.content %}
					{% if content.id == image.id %}
					<div style="background: #f8f8f1; margin-bottom: 50px; padding: 5px; border: 1px solid #ccc;">
						<div class="image-update">
							<img src="{{ image.src | imagine_filter('xLarge') }}" class="edit-img" onerror="defaultPicture(this)"/>							<input type="hidden" name="src[]" value="{{ image.src }}"/>
						</div>
						<div class="text-update">
							<label for="Fr" class="label-text"> Texte français </label>
							<textarea name="contentFr[]" class="first-text" id="Fr">{{ content.content }}</textarea>
							{#<button class="btn btn-lg btn-danger text-trash"> Vider le texte </button>#}
						</div>
						<div class="text-update">
							<label for="Fr" class="label-text"> Texte espagnol </label>
							<textarea name="contentEs[]" class="first-text" id="Es">{{ content.contentEs }}</textarea>
							{#<button class="btn btn-lg btn-danger text-trash"> Vider le texte </button>#}
						</div>
					<button class="btn btn-lg btn-danger remove-content"> Supprimer Image + texte </button>
					</div>	
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		
		<div style="margin-bottom: 30px;">
			<p style="text-align: center; background: white; font-size: 1.25em; font-weight: bold; color: #333; padding: 10px;">
				Mots clefs associés à l'article
			</p>
			{% for category in article.category|sort %}
				<div>
					<p style="margin-bottom: 15px; background: #f8f8f1; padding: 5px;">
						<label for="keyword">Mot clef {{ loop.index }} </label>
						<input type="text" name="categoryFr[]" value="{{ category.category }}"/>
					</p>
					<p style="margin-bottom: 15px; background: #f8f8f1; padding: 5px;">
						<label for="keyword">Palabra clave {{ loop.index }} </label>
						<input type="text" name="categoryEs[]" value="{{ category.categoryEs }}"/>
					</p>
					<button class="btn btn-danger delete-keyword"> Supprimer </button>
				</div>	
			{% endfor %}
		</div>

       	<div id='buttonRange'>
			<button class='content btn btn-lg btn-primary'>Nouveau contenu</button>
			<button class='category btn btn-lg btn-primary'>Nouvelle catégorie</button>
		</div>
		
		<label for="check" for="submit" id="label-submit"> Alerter mes abonnés </label>
		<input type="checkbox" name="checked" id="check" {% if article.newsletter == '1' %} checked {% endif %}/>
		
		{% if article.newsletter == '1' %} 
			<p style="margin-top: 10px; background: green; color: white; text-align: center; padding: 5px 0 5px 0">
				La newsletter a été envoyée pour cet article.
			</p> 
		{% endif %}
		
		{% if article.newsletter == '0' %} 
			<p style="margin-top: 10px; background: #b22222; color: white; text-align: center; padding: 5px 0 5px 0">
				La newsletter n'a pas été envoyée pour cet article
			</p> 
		{% endif %}
		
        <label for="submit" id="label-submit"> Editer l'article </label>
        <input type="submit" id="submit" class="btn btn-lg btn-danger" value="Editer"/>

    {{ form_end(edit_form) }}

</div>
{% endblock %}

{% block javascript %}{{ asset('bundles/blog/js/form.js') }}{% endblock %}
{% block javascript_Admin_Index %} {{ asset('bundles/blog/js/flash.js') }} {% endblock %}