

        <div style="" >
            <h1>{{ article_mail.titleFr }}</h1>
            <h1>{{ article_mail.titleEs }}</h1>

            <img src="{{img}}" style="height: 400px" class="img-thu"/>

            <div style="">
                <p>{{ article_mail.content[0].content }}</p>
                <p>{{ article_mail.content[0].contentEs }}</p>
                <p>Catégories correspondant à l'article :
                    {% for cat in article_mail.category %}
                        {% if loop.last %}
                            {{ cat.category}}
                        {% else %}
                        {{ cat.category~', '  }}
                        {% endif %}
                    {% endfor %}
                </p>
                <i>Publié le {{ article_mail.date.date|date('d/m/Y h:m:s') }} </i>
                <i>Si vous voulez vous désabonner, <a href="nom du sit?delete">clickez-ici</a> </i>
            </div>
        </div>
