{% extends 'layout.html.twig' %}

{% block style %} {{ asset('bundles/blog/css/admin.css') }} {% endblock %}
{% block title %}Administration{% endblock%}

{% block container %}
<div class="container">
        <div class="menu">
            <a href="{{ path('admin_index') }}"><button class="btn btn-lg btn-danger">Accueil administration</button></a>
            <a href="{{ path('blog_homepage') }}"><button class="btn btn-lg btn-danger">Blog</button></a>
            <a href="{{ path('blog_homepage_admin') }}logout"><button class="btn btn-lg btn-danger">Déconnexion</button></a>
        </div>
        <h1>Liste des abonnés à la newsletter</h1>
        <div class="email">
            {%  for email in emails  %}
                   <p style="border: 1px solid #d8d8d8; padding: 5px;">{{ email.lien }}</p>
             {% endfor %}
        </div>
</div>
{% endblock %}